/* CSS/car.css */

.cart {
    padding-top: 20px;
}

.cart .xtx-cart-title {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.cart .xtx-cart-title span {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}

/* 表格通用样式 */
.cart table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    color: #666;
}

.cart table th {
    background: #f5f5f5;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.cart table td {
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0;
    text-align: center;
}

/* 第一列复选框 */
.cart table th:first-child,
.cart table td:first-child {
    width: 60px;
    text-align: center;
}

/* 商品详情列 */
.cart table .goods {
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 10px;
}

.cart table .goods img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border: 1px solid #eee;
}

.cart table .goods .info .name {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.cart table .goods .info .attr {
    font-size: 12px;
    color: #999;
}

/* 数量加减框 */
.cart .count-box {
    display: inline-flex;
    width: 100px;
    height: 30px;
    border: 1px solid #e4e4e4;
}

.cart .count-box a {
    width: 30px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #f8f8f8;
    color: #333;
    font-size: 16px;
}

.cart .count-box a:hover {
    background: #eee;
}

.cart .count-box input {
    width: 38px;
    height: 28px;
    border: none;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    text-align: center;
    color: #333;
}

/* 字体颜色 */
.cart .price {
    color: #999;
}

.cart .sub-total {
    color: #cf4444;
    font-size: 16px;
}

.cart .del {
    color: #27ba9b;
    cursor: pointer;
}

/* 底部结算栏 */
.action-bar {
    margin-top: 20px;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border: 1px solid #f5f5f5;
}

.action-bar .select-all {
    display: flex;
    align-items: center;
    color: #666;
}

.action-bar .select-all input {
    margin-right: 10px;
}

.action-bar .operation a {
    margin-left: 20px;
    color: #666;
}

.action-bar .total {
    display: flex;
    align-items: center;
}

.action-bar .total .amount {
    margin-right: 20px;
    color: #999;
}

.action-bar .total .amount span {
    color: #cf4444;
}

.action-bar .total .price {
    margin-right: 20px;
    font-size: 16px;
    color: #999;
}

.action-bar .total .price span {
    font-size: 24px;
    color: #cf4444;
    font-weight: bold;
}

.action-bar .btn-buy {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #27ba9b;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}